* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --text-color: white;
}

html {
    background: url('../assets/images/main_bg.jpg') center center/cover no-repeat;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    height: 800px;
    padding: 100px;
    background: rgba(255,255,255,0.1);
    border: 1px solid white;
    font-size: 20px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    perspective: 600px;
    transform: scale(0.98);
    will-change: transform;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
}

.container.active {
    background: rgba(255,255,255,0.2);
    cursor: grabbing;
    transform: scale(1);
  }
  
.item {
    width: 200px;
    height: calc(100% - 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: var(--text-color);
    box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
  }
  
.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }